---
x-volumes: &volumes
  - /etc/timezone:/etc/timezone:ro
  - /etc/localtime:/etc/localtime:ro
  - project-root-volume:/workspaces/talos-runtime
x-workdir: &default-workdir /workspaces/talos-runtime
x-tty: &tty true

volumes:

  project-root-volume:
    driver: local
    driver_opts:
      type: none
      device: .
      o: bind

services:
  lint-yaml:
    image: cytopia/yamllint:latest
    volumes: *volumes
    working_dir: *default-workdir
    command: .
    tty: *tty

  lint-workflows:
    image: rhysd/actionlint:latest
    volumes: *volumes
    working_dir: *default-workdir
    command: -color
    tty: *tty

  lint-filenames:
    image: lslintorg/ls-lint:1.11.2
    volumes: *volumes
    working_dir: *default-workdir
    tty: *tty

  lint-folders:
    image: sommerfeldio/folderslint:latest
    volumes: *volumes
    working_dir: *default-workdir
    command: .
    tty: *tty

  lint-markdown-links:
    image: lycheeverse/lychee:sha-a11d515-alpine
    volumes: *volumes
    working_dir: *default-workdir
    command: --config .lychee.toml .
    tty: *tty

  lint-ansible:
    image: pipelinecomponents/ansible-lint:0.79.11
    volumes: *volumes
    working_dir: *default-workdir
    command: ansible-lint ansible -c .ansible-lint.yml
    tty: *tty

  # lint-helm:
  #   image: alpine/helm:4.0.1
  #   volumes: *volumes
  #   working_dir: *default-workdir
  #   command: lint helmcharts/SOME_CHART # --with-subcharts
  #   tty: *tty

  # lint-k8s-manifests:
  #   image: golang:1.25.5-alpine3.21
  #   volumes: *volumes
  #   working_dir: *default-workdir
  #   command:
  #     - /bin/ash
  #     - -c
  #     - |
  #       go install golang.stackrox.io/kube-linter/cmd/kube-linter@v0.7.1
  #       kube-linter lint manifests --with-color --config .kube-linter.yml
  #   tty: *tty
  #   # https://github.com/stackrox/kube-linter/blob/main/docs/generated/checks.md
