---
version: '3.42.1'

tasks:

  cluster:create:
    desc: Create a Talos cluster using talosctl
    summary: |
      Create a Talos cluster using talosctl with the following configuration:

      - 1x Control Plane (CPU: 2.0, Memory: 2048MB)
      - 1x Worker Node (CPU: 2.0, Memory: 2048MB)

      All nodes are created as Docker containers.
    cmds:
      - talosctl cluster create --cpus 2.0 --cpus-workers 2.0 --memory 2048 --memory-workers 2048

  cluster:destroy:
    desc: Destroy a Talos cluster using talosctl
    cmds:
      - talosctl cluster destroy

  cluster:apps:install-all:
    desc: Install all applications on the Talos cluster
    cmds:
      - task: app:echoserver:install
      - task: app:kubernetes-dashboard:install

  cluster:info:
    desc: Display information about the Talos cluster
    cmds:
      - talosctl config info
      - talosctl cluster show
      - task: cluster:info:nodes
      - task: helm:list

  cluster:info:nodes:
    desc: Display information about the Talos cluster nodes
    cmds:
      - kubectl get nodes -o wide

  helm:list:
    desc: List all Helm releases across all namespaces
    cmds:
      - helm list --all-namespaces

  # ===============================================================================================

  kubectl:port-forward:*:*:*:*:
    desc: Port-forward a Kubernetes service to localhost
    summary: |
      Port-forward a Kubernetes service to localhost.

      - Param 0: Namespace of the service
      - Param 1: Name of the service
      - Param 2: Local port to forward to
      - Param 3: Remote port of the service

      When running in Vagrant, the local port must be 8000 to ensure the port is also forwarded to the host machine.
    vars:
      NAMESPACE: '{{ index .MATCH 0 }}'
      SVC_NAME: '{{ index .MATCH 1 }}'
      LOCAL_PORT: '{{ index .MATCH 2 }}'
      REMOTE_PORT: '{{ index .MATCH 3 }}'
    cmds:
      - kubectl -n {{ .NAMESPACE }} port-forward --address 0.0.0.0 svc/{{ .SVC_NAME }} {{ .LOCAL_PORT }}:{{ .REMOTE_PORT }}

  # ===============================================================================================

  app:echoserver:install:
    desc: Install echoserver Helm chart
    vars:
      APP: echoserver
    cmds:
      - helm install {{ .APP }} /vagrant/helmcharts/{{ .APP }}  --create-namespace --namespace {{ .APP }}

  app:echoserver:uninstall:
    desc: Uninstall echoserver Helm chart
    vars:
      APP: echoserver
    cmds:
      - helm uninstall {{ .APP }} --namespace {{ .APP }}

  app:echoserver:port-forward:*:
    desc: Port-forward echoserver service to localhost
    summary: |
      Expose the echoserver service to localhost via port-forwarding.

      - Param 0: Local port to forward to

      When running in Vagrant, the local port must be 8000 to ensure the port is also forwarded to the host machine.
    vars:
      LOCAL_PORT: '{{ index .MATCH 0 }}'
    cmds:
      - task: kubectl:port-forward:echoserver:echoserver:{{ .LOCAL_PORT }}:8080

  # ===============================================================================================

  app:kubernetes-dashboard:install:
    desc: Install Kubernetes Dashboard Helm chart
    summary: |
      Install the Kubernetes Dashboard Helm chart from the official repository (see <https://github.com/kubernetes/dashboard>).
      Create a cluster role binding to grant the dashboard admin privileges. Needed to see data from all namespaces.
    vars:
      APP: kubernetes-dashboard
    cmds:
      - helm repo add {{ .APP }} https://kubernetes.github.io/dashboard
      - helm upgrade --install {{ .APP }} {{ .APP }}/{{ .APP }} --create-namespace --namespace {{ .APP }}
      - kubectl create clusterrolebinding {{ .APP }}-kong-as-admin --clusterrole=cluster-admin --serviceaccount={{ .APP }}:{{ .APP }}-kong

  app:kubernetes-dashboard:uninstall:
    desc: Uninstall Kubernetes Dashboard Helm chart
    vars:
      APP: kubernetes-dashboard
    cmds:
      - helm uninstall {{ .APP }} --namespace {{ .APP }}

  app:kubernetes-dashboard:port-forward:*:
    desc: Port-forward Kubernetes Dashboard service to localhost
    summary: |
      Expose the Kubernetes Dashboard service to localhost via port-forwarding.

      - Param 0: Local port to forward to

      When running in Vagrant, the local port must be 8000 to ensure the port is also forwarded to the host machine.
    vars:
      APP: kubernetes-dashboard
      LOCAL_PORT: '{{ index .MATCH 0 }}'
    cmds:
      - kubectl -n {{ .APP }} create token {{ .APP }}-kong
      - task: kubectl:port-forward:{{ .APP }}:{{ .APP }}-kong-proxy:{{ .LOCAL_PORT }}:443
