---
version: '3.42.1'

tasks:

  cluster:create:
    desc: Create a Talos cluster and install all default applications
    summary: |
      Create a Talos cluster using talosctl with the following configuration:

      - 1x Control Plane (CPU: {{ .CPU }}, Memory: {{ .MEMORY }} MB)
      - 1x Worker Node (CPU: {{ .WORKER_CPU }}, Memory: {{ .WORKER_MEMORY }} MB)

      All nodes are created as Docker containers.

      Install all default applications as well.
    vars:
      CPU: 2.0
      MEMORY: 2048
      WORKER_CPU: 2.0
      WORKER_MEMORY: 2048
    cmds:
      - talosctl cluster create --cpus {{ .CPU }} --cpus-workers {{ .WORKER_CPU }} --memory {{ .MEMORY }} --memory-workers {{ .WORKER_MEMORY }}
      - task: app:kubernetes-dashboard:install
      - task: app:monitoring:install

  cluster:destroy:
    desc: Destroy a Talos cluster using talosctl
    cmds:
      - talosctl cluster destroy

  cluster:info:
    desc: Display information about the Talos cluster
    cmds:
      - talosctl config info
      - talosctl cluster show
      - task: cluster:info:nodes
      - task: helm:list

  cluster:info:nodes:
    desc: Display information about the Talos cluster nodes
    cmds:
      - kubectl get nodes -o wide

  # ===============================================================================================

  helm:list:
    desc: List all Helm releases across all namespaces
    cmds:
      - helm list --all-namespaces

  # ===============================================================================================

  app:echoserver:install:
    desc: Install echoserver Helm chart
    vars:
      APP: echoserver
    cmds:
      - helm install {{ .APP }} /vagrant/helmcharts/{{ .APP }}  --create-namespace --namespace {{ .APP }}

  app:echoserver:uninstall:
    desc: Uninstall echoserver Helm chart
    vars:
      APP: echoserver
    cmds:
      - helm uninstall {{ .APP }} --namespace {{ .APP }}

  app:echoserver:port-forward:
    desc: Expose echoserver service to localhost via port-Expose forwarding
    vars:
      APP: echoserver
      PORT: 8080
    cmds:
      - kubectl -n {{ .APP }} port-forward --address 0.0.0.0 svc/{{ .APP }} {{ .PORT }}:{{ .PORT }}

  # ===============================================================================================

  app:kubernetes-dashboard:install:
    desc: Install Kubernetes Dashboard Helm chart
    summary: |
      Install the Kubernetes Dashboard Helm chart from the official repository.
      See <https://github.com/kubernetes/dashboard> for more information.

      Create a cluster role binding to grant the dashboard admin privileges. Needed to see data from all namespaces.
    vars:
      APP: kubernetes-dashboard
    cmds:
      - helm repo add {{ .APP }} https://kubernetes.github.io/dashboard
      - helm upgrade --install {{ .APP }} {{ .APP }}/{{ .APP }} --create-namespace --namespace {{ .APP }}
      - kubectl create clusterrolebinding {{ .APP }}-kong-as-admin --clusterrole=cluster-admin --serviceaccount={{ .APP }}:{{ .APP }}-kong

  app:kubernetes-dashboard:uninstall:
    desc: Uninstall Kubernetes Dashboard Helm chart
    vars:
      APP: kubernetes-dashboard
    cmds:
      - helm uninstall {{ .APP }} --namespace {{ .APP }}

  app:kubernetes-dashboard:port-forward:
    desc: Expose Kubernetes Dashboard service to localhost via port-Expose forwarding
    vars:
      APP: kubernetes-dashboard
      PORT: 8443
    cmds:
      - kubectl -n {{ .APP }} create token {{ .APP }}-kong
      - kubectl -n {{ .APP }} port-forward --address 0.0.0.0 svc/{{ .APP }} {{ .PORT }}:{{ .PORT }}

  # ===============================================================================================

  app:monitoring:install:
    desc: Install {{ .APP }} Helm chart
    vars:
      NAMESPACE: monitoring
      APP: monitoring
    cmds:
      - helm dependency update /vagrant/helmcharts/{{ .APP }}
      - helm install {{ .APP }} /vagrant/helmcharts/{{ .APP }}  --create-namespace --namespace {{ .NAMESPACE }}

  app:monitoring:uninstall:
    desc: Uninstall {{ .APP }} Helm chart
    vars:
      NAMESPACE: monitoring
      APP: monitoring
    cmds:
      - helm uninstall {{ .APP }} --namespace {{ .NAMESPACE }}

  app:monitoring:port-forward:grafana:
    desc: Expose {{ .APP }} to localhost via port-Expose forwarding
    vars:
      NAMESPACE: monitoring
      APP: grafana
      SERVICE_PORT: 80
      FORWARD_PORT: 3000
    cmds:
      - kubectl -n {{ .NAMESPACE }} port-forward --address 0.0.0.0 svc/{{ .NAMESPACE }}-{{ .APP }} {{ .FORWARD_PORT }}:{{ .SERVICE_PORT }}
