---
- name: kubectl  ----  Download binary
  ansible.builtin.get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_version }}/bin/linux/{{ kubectl_architecture }}/kubectl"
    dest: /usr/local/bin/kubectl
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: u=rwx,g=rx,o=rx

- name: kubectl  ----  Check version
  ansible.builtin.shell: kubectl version --client
  args:
    executable: /bin/bash
  register: kubectl_version_output

- name: kubectl  ----  Display version
  ansible.builtin.debug:
    msg: "kubectl installed successfully: {{ kubectl_version_output.stdout_lines }}"
