---
- name: Basic Vagrantbox setup
  hosts: all
  gather_facts: true
  become: true
  tasks:
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/hardening
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/bash
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/git
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/docker
        tasks_from: main
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/taskfile-dev
      vars:
        docker_stacks_dir: "/home/{{ ansible_user }}/.docker-stacks"

- name: Basic Vagrantbox setup (non-root)
  hosts: all
  gather_facts: true
  become: false
  tasks:
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/atuin

- name: Talos installation and setup
  hosts: all
  gather_facts: true
  become: true
  tasks:
    - ansible.builtin.include_role:
        name: roles/common/kubectl
    - ansible.builtin.include_role:
        name: roles/common/talosctl
    - ansible.builtin.include_role:
        name: roles/common/argocd-autopilot
    - ansible.builtin.include_role:
        name: roles/common/override-taskfile

# TODO ... play with roles or tasks to configure and start talos in docker using talosctl inside vagrantbox
# TODO ... from ansible/roles/talos-config
# TODO ... does `talosctl cluster create` take too much time? does it work headless?
# TODO ... should i optimize ubuntu for performance first? faster download times for apt and docker images?
