---
- name: Basic Vagrantbox setup
  hosts: all
  gather_facts: true
  become: true
  tasks:
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/hardening
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/bash
    # - ansible.builtin.include_role: # TODO ... test without git role first (do argocd and autopilot work?)
    #     name: roles/ansible-roles-collection/git
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/docker
        tasks_from: main
    - ansible.builtin.include_role:
      # TODO ... remove global taskfile if exists??? what global commands should stay???
      # TODO ... keep docker-stacks!!!
      # TODO ... then put new global taskfile specific for talos - duplicate global commands???
      # TODO ... only docker:stack:portainer should survive ... is this enough???
      # TODO ... do i need portainer??? because i would just see talos containers (i guess)
      # TODO ... app containers from inside k8s reside in the talos containers
        name: roles/ansible-roles-collection/taskfile-dev
      vars:
        docker_stacks_dir: "/home/{{ ansible_user }}/.docker-stacks"

    - ansible.builtin.include_role:
      # TODO ... k as alias for kubectl
        name: roles/common/kubectl
    - ansible.builtin.include_role:
      # TODO ... t as alias for talosctl
        name: roles/common/talosctl
    # TODO ... argocd autopilot

- name: Basic Vagrantbox setup (non-root)
  hosts: all
  gather_facts: true
  become: false
  tasks:
    - ansible.builtin.include_role:
        name: roles/ansible-roles-collection/atuin

# TODO ... play with roles or tasks to configure and start talos in docker using talosctl inside vagrantbox
# TODO ... from ansible/roles/talos-config
# TODO ... does `talosctl cluster create` take too much time? does it work headless?
# TODO ... should i optimize ubuntu for performance first? faster download times for apt and docker images?
