---
- name: Talosctl  ----  Download binary
  ansible.builtin.get_url:
    url: "https://github.com/siderolabs/talos/releases/download/{{ common_version }}/talosctl-linux-{{ common_architecture }}"
    dest: /usr/local/bin/talosctl
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: u=rwx,g=rx,o=rx

- name: Talosctl  ----  Check version
  ansible.builtin.shell: talosctl version --client
  args:
    executable: /bin/bash
  register: common_version_output

- name: Talosctl  ----  Display version
  ansible.builtin.debug:
    msg: "talosctl installed successfully: {{ common_version_output.stdout_lines }}"

- name: Talosctl  ----  Write aliases to .bashrc
  ansible.builtin.lineinfile:
    create: true
    mode: u=rw,g=,o=
    dest: "/home/{{ ansible_user }}/.bashrc"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    line: "{{ item }}"
    state: present
  with_items:
    - alias t="talosctl"
