---
- name: talosctl  ----  Download binary
  ansible.builtin.get_url:
    url: "https://github.com/siderolabs/talos/releases/download/{{ talosctl_version }}/talosctl-linux-{{ talosctl_architecture }}"
    dest: /usr/local/bin/talosctl
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: u=rwx,g=rx,o=rx

- name: talosctl  ----  Check version
  ansible.builtin.shell: talosctl version --client
  args:
    executable: /bin/bash
  register: talosctl_version_output

- name: talosctl  ----  Display version
  ansible.builtin.debug:
    msg: "talosctl installed successfully: {{ talosctl_version_output.stdout_lines }}"
