---
name: "Pipeline: Commit + Test"

on:
  push:
    branches-ignore:
      - dependabot/**
    paths-ignore:
      - '**.adoc'
      - '**.md'
      - 'docs/**'
      - '.devcontainer/**'
      - '.github/workflows/dev-environment.yml'
      - '.vscode/**'
      - '.gitkeep'
  schedule:
    - cron: '0 1 * * 2'

env:
  REGISTRY: docker.io

permissions:
  contents: read

jobs:

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          ignore_paths: node_modules target

  lint:
    runs-on: ubuntu-latest
    name: ${{ matrix.linter }}
    strategy:
      matrix:
        linter: ['yaml', 'workflows', 'filenames', 'folders', 'markdown-links', 'ansible']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run lint-${{ matrix.linter }} from docker-compose.yml
        env:
          LINTER: ${{ matrix.linter }}
        run: docker compose up "lint-$LINTER" --exit-code-from "lint-$LINTER"
        shell: bash

  lint-helm-charts:
    runs-on: ubuntu-latest
    name: ${{ matrix.chart }}
    strategy:
      matrix:
        chart: ['echoserver', 'monitoring']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run lint-helm-${{ matrix.chart }} from docker-compose.yml
        env:
          CHART: ${{ matrix.chart }}
        run: |
          docker compose up "helm-$CHART-dependencies" --exit-code-from "helm-$CHART-dependencies"
          docker compose up "helm-$CHART-lint" --exit-code-from "helm-$CHART-lint"
        shell: bash

  # ----- Release stage ---------------------------------------------------------------------------

  release-code:
    uses: sommerfeld-io/.github/.github/workflows/lib-release-code.yml@main
    needs: [
      'lint',
      'lint-helm-charts',
      'shellcheck',
    ]
    if: ${{ (github.actor != 'dependabot[bot]') && (github.ref == 'refs/heads/main') }}
    secrets:
      GH_TOKEN_REPO_AND_PROJECT: ${{ secrets.GH_TOKEN_REPO_AND_PROJECT }}
    permissions:
      contents: write
